.work_filters{
    display: flex;
    text-align: center;
    column-gap: 1.875rem;
    margin-bottom: 2.5rem;
}
.work_item{
    cursor: pointer;
    font-weight: var(--font-bold);
    transition: .3s;
}
.work_item:hover{
    color:var(--first-color);
}
.work_container{
    grid-template-columns: repeat(3,1fr);
    gap:1.875rem
}
.work_card{
    position: relative;
    overflow: hidden;
    border-radius: var(--border-radius);
    box-shadow: var(--shadaw);
}
.work_mask{
    background: hsl(273, 70%, 31%);
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    transition: .3s;
    opacity: 0;

}
.work_card:hover .work_mask{
    opacity: 0.9;
}

.work_category{
    color: aliceblue;
    background-color: var(--first-color);
    border-top-left-radius: 0.98rem;
    border-top-right-radius: 0.98rem;
    position: absolute;
    top: 0;
    left: 1.5rem;
    font-size: var(--small-font-size);
    display: inline-block;
    padding: 0.19rem 0.625rem;
    transform: translateY(-40px);
    transition: .3s;



}
.work_title{
    color: #f7eded;
    font-size: var(--h3-font-size);
   font-weight: 900;
    margin: 0 0 0.98rem;
    padding: 0 1.25rem;
    position: absolute;
    top:3.75rem;
    transform: translateY(30px);
    transition: .3s;
    opacity: 0;
}
.work_button{
    color: #fcf5f5;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    font-size: var(--h3-font-size);
    display: block;
    background-color: rgb(244, 188, 119);
    height: 40px;
    width: 40px;
    cursor: pointer;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    transition: .3s;
    opacity: 0;
}

.work_card:hover .work_button{
    opacity: 1;
}
.work_card:hover .work_title,
.work_card:hover .work_category{
    opacity: 1;
    transform: translateY(0);

}
.work_img{
    width: 22rem;
    height: 15rem;
}
@media screen and (max-width:1024px){
    .work_container{  grid-template-columns: repeat(2, 330px);
        justify-content: center;
        row-gap: 1.875rem;

    }
   .work_filters {
    justify-content: center;

    }
}

@media screen and (max-width:768px){
    .work_container{
        grid-template-columns: 310px;
    }
    .work_filters{
        row-gap: .25rem;

    }
}